<div class="col-md-6 col-lg-6">
    <div id="login" ng-init="initialize()">
        <img src="/images/Logo.png" style="max-width: 100%">
        <!--<h2>-->
        <!--Family Health Center of Worcester-->
        <!--</h2>-->
        <fieldset>
            <div id="control">
                <label id="patientAddressLabel" for="patientAddress">1. Patient's Address:</label>
                <input type="text" id="patientAddress" ng-model="address"/>
                <button id="go" ng-click="calcCurrentRoute();">Go</button>
            </div>

            <div class="mt1">
                <label>2. Choose the day and time:</label>
            </div>
            <div>
                <input ng-repeat-start="days in availableDays" id="day{{$index+1}}" name="day" type="radio" class="day"
                       ng-value="days.day" ng-model="$parent.modelDay" ng-change="updateDay()"/>
                <label ng-repeat-end="" for="day{{$index+1}}" name="day" class="times"> {{days.day}} |</label>
            </div>

            <div ng-show="day == Friday">
                <input type="radio" id="morning" name="time" class="chooseTime" ng-model="$parent.time" value="morning"
                       ng-change="updateTime()"/>
                <label for="morning" name="time" class="times">Morning | </label>
                <input type="radio" id="afternoon" name="time" class="chooseTime" ng-model="$parent.time"
                       value="afternoon" ng-change="updateTime()"/>
                <label for="afternoon" name="time" class="times">Afternoon</label>
            </div>

            <div ng-show="time == 'morning'">
                <input ng-repeat-start="timeAm in availableTimesAm" type="radio" id="timeAm{{$index+1}}"
                       ng-value="timeAm.time" name="timeAm" class="time" ng-model="$parent.modelTime"
                       ng-change="calcRoute()"/>
                <label ng-repeat-end="" for="timeAm{{$index+1}}" name="timeAm" class="times">{{timeAm.time}} | </label>
            </div>

            <div ng-show="time == 'afternoon'">
                <input ng-repeat-start="timePm in availableTimesPm" type="radio" id="timePm{{$index+1}}"
                       ng-value="timePm.time" name="timePm" class="time" ng-model="$parent.modelTime"
                       ng-change="calcRoute()"/>
                <label ng-repeat-end="" for="timePm{{$index+1}}" name="timePm" class="times">{{timePm.time}} | </label>
            </div>
            <hr>
            <div class="mt1">
                <label>3. Ask these questions:</label>
            </div>
            <div ng-controller="QuestionsCtrl">
                <div class="row">
                    <div class="col-md-8">
                        <label class="question">Have you ever faced problems / missed appointments due to lack of
                            transportation?</label>
                    </div>
                    <div class="btn-group col-md-4" data-toggle="buttons">
                        <label class="btn btn-default">
                            <input type="radio" data-ng-model="question1.value" value="True">
                            Yes
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" data-ng-model="question1.value" value="false">
                            No
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <label class="question">Would you use this service again?</label>
                    </div>
                    <div class="btn-group col-md-4" data-toggle="buttons" style="text-align: right">
                        <label class="btn btn-default">
                            <input type="radio" data-ng-model="question2.value" value="True">
                            Yes
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" data-ng-model="question2.value" value="false">
                            No
                        </label>
                    </div>
                </div>
                <!--<input id="q1yes" class="time" ng-model="question1" name="question1" type="radio" value="yes"/>-->
                <!--<label for="q1yes" name="question1" class="times">Yes | </label>-->
                <!--<input id="q1no" ng-model="question1" name="question1" type="radio" value="no" class="time"/>-->
                <!--<label for="q1no" name="question1" class="times">No</label>-->
                <!--<br/>-->
                <!--<label class="question">Would you use this service again?</label>-->
                <!--<input id="q2yes" ng-model="question2" name="question2" type="radio" value="yes" class="time"/>-->
                <!--<label for="q2yes" name="question2" class="times">Yes | </label>-->
                <!--<input id="q2no" ng-model="question2" name="question2" type="radio" value="no" class="time"/>-->
                <!--<label for="q2no" name="question2" class="times">No</label>-->
            </div>
            <div class="col-md-4 col-md-offset-8" style="padding-top: 20px">
                <button id="go" ng-click="SubmitForm()">Submit</button>
            </div>

        </fieldset>
        <div style="text-align: center">
            <p>To view all recorded data, please <a
                    href="https://docs.google.com/spreadsheets/d/18StcOQcXq0qBlPxcTSaGhOZb9Vn1dz-PKe4TsjNrDeI/edit#gid=0"
                    target="_blank">click here</a>.</p>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div id="directions-panel"></div>
</div>